<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2><%= subtitle %></h2>
    <p>Bienbenido...</p>
    <table border="1">
      <tr>
        <td>estudiante</td>
        <td>nota</td>
      </tr>
      <tr>
        <td><%= reclamo.estudiante %></td>
        <td><%= reclamo.nota %></td>
      </tr>
    </table>
  </body>
</html>

